.grid-box {
    width: 100px !important;
    height: 100px !important;
    color: black;
    font-size: 20px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#b1 {
    background-image: url("../images/love.jpg");
}

#b2 {
    background-image: url("../images/peace.jpg");
}

#b3 {
    background-image: url("../images/calm.jpg");
}

#b4 {
    background-image: url("../images/simple.png");
}
#c1 {
    background-image: url("../images/cake.jpg");
}
#c2 {
    background-image: url("../images/cookies.jpg");
}
#c3 {
    background-image: url("../images/candy.jpg");
}
#c4 {
    background-image: url("../images/icecream.jpg");
}
body {
  background-color:"powderblue";
  font-family:"fantasy";
}
